.login {
  width: 575px;
  margin: 75px auto;
  h1{
    font-weight: 700;
  }
  form {
    -webkit-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75);
    width: 575px;
    padding: 7%;
    background: rgb(245, 251, 252);
  }
}
